.section-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
}

.section-content{
    width: 35%;
    height: 50vh;
    margin-top: -1%;
    color: black;
}
.section-content > h1{
    color: #FC7234;
}
.section-content > p{
    font-size: 14px;
}
.section-content > button{
    background-color: #FC7234;
    color: white;
    box-shadow: 0px 2px 3px #fc7334be;
}
.section-content > button:hover{
    background-color: #fa580d;
}

.section-image{
    width: 30%;
    height: 55vh;
    margin-top: 4%;
}