@import '../../variables.scss';

.nav-container {
  background-color: $colorWhite;
  width: 55%;
  margin: 5px;
  justify-content: space-between;
  font-size: 12px;
  padding: 2px 10px;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(128, 128, 128, 0.356);
  z-index: 9999;
  height: 5vh;
  border-radius: 8px;
}

.nav-container > a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.nav-container > a:hover {
  color: $colorBlue;
}

@media screen and (max-width: 576px) {
  .nav-container {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .nav-container {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .nav-container {
    width: 70%;
  }
  .nav-container > a {
    font-size: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .nav-container {
    width: 70%;
  }
  .nav-container > a {
    font-size: 13px;
  }
}
